.piggy-view-modal-progress-ctn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.piggy-view-modal-crash {
  background-color: var(--piggyLightPink);
  width: 8rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  color: var(--colorPrimary);
  font-size: 1.25rem;
  cursor: pointer;
}
